# https://www.chezmoi.io/user-guide/machines/macos/

{{- if eq .chezmoi.os "darwin" -}}

#!/bin/bash

echo ""
echo "🖖🏾 This script ought to run once from run_once_before_install-packages-darwin."

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "antidote"
brew "bat"
brew "chezmoi"
brew "chrome-export"
brew "httpie"
brew "ranger"
brew "spaceship"
brew "sqlite"
brew "neovim"
brew "z"
brew "git"
brew "readline"
brew "zsh-async"

cask "font-fira-code"
cask "google-chrome"
EOF

{{ end -}}
